<section class="storybook">
  <div class="row">

    <div class="col-md-3">
      <div class="p-3 mb-2 bg-normal text-white">Normal</div>
      <i class="fa fa-check-circle normal"></i>
    </div>

    <div class="col-md-3">
      <div class="p-3 mb-2 bg-warning text-white">Warning</div>
      <i class="fa fa-exclamation-circle warning"></i>
    </div>

    <div class="col-md-3">
      <div class="p-3 mb-2 bg-critical text-white">Critical</div>
      <i class="fa fa-times-circle critical"></i>
    </div>

    <div class="col-md-3">
      <div class="p-3 mb-2 bg-offline text-white">Offline</div>
      <i class="fa fa-question-circle offline"></i>
    </div>

  </div>
</section>
